* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: 100%;  
  }
  
  body {
    min-height: 100%;  
    background: #eee;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
  }
  
  .container {
    width: 100%;
    max-width: 1200px; /* 필요에 따라 조정 */
    height: auto;
    padding: 20px; /* 필요에 따라 padding 조정 */
    margin: 0 auto; /* 중앙 정렬 */
    background: #fff;
    box-shadow: 1px 1px 2px #DAD7D7;
    border-radius: 3px;
    margin-top: 50px;
}

  /* 코드 블록에 대한 스타일 추가 */
  .highlight pre, pre {
    overflow-x: auto; /* 코드가 잘리지 않도록 가로 스크롤 추가 */
    white-space: pre-wrap; /* 강제 줄바꿈 방지 */
    padding: 10px; /* 코드 블록 내부 여백 */
    background-color: #2d2d2d; /* 코드 블록 배경색 */
    color: #ffffff; /* 코드 블록 글자 색 */
    max-width: 100%; /* 코드 블록이 화면을 넘지 않도록 */
    box-sizing: border-box; /* 패딩 포함한 크기 계산 */
    border-radius: 5px; /* 테두리 둥글게 */
  }
  
  
  .header {
    margin-bottom: 30px;
    
    .full-name {
      font-size: 40px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    
    .first-name {
      font-weight: 700;
    }
    
    .last-name {
      font-weight: 300;
    }
    
    .contact-info {
      margin-bottom: 20px;
    }
    
    .email ,
    .phone {
      color: #999;
      font-weight: 300;
    } 
    
    .separator {
      height: 10px;
      display: inline-block;
      border-left: 2px solid #999;
      margin: 0px 10px;
    }
    
    .position {
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
      text-decoration: underline;
    }
  }

  
  .details {
    line-height: 20px;
    
    .section {
      margin-bottom: 40px;  
    }
    
    .section:last-of-type {
      margin-bottom: 0px;  
    }
    
    .section__title {
      letter-spacing: 2px;
      color: #54AFE4;
      font-weight: bold;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    
    .section__list-item {
      margin-bottom: 40px;
    }
    
    .section__list-item:last-of-type {
      margin-bottom: 0;
    }
    
    .left ,
    .right {
      vertical-align: top;
      display: inline-block;
    }
    
    .left {
      width: 60%;    
    }
    
    .right {
      tex-align: right;
      width: 39%;    
    }
    
    .name {
      font-weight: bold;
    }
    
    a {
      text-decoration: none;
      color: #000;
      font-style: italic;
    }
    
    a:hover {
      text-decoration: underline;
      color: #000;
    }
    
    .skills {
      
    }
      
    .skills__item {
      margin-bottom: 10px;  
    }
    
    .skills__item .right {
      input {
        display: none;
      }
      
      label {
        display: inline-block;  
        width: 20px;
        height: 20px;
        background: #C3DEF3;
        border-radius: 20px;
        margin-right: 3px;
      }
      
      input:checked + label {
        background: #79A9CE;
      }
    }
  }
  .page-title, .site-header, .main_nav {
    display: none;
}

  
  
  
  
  
  
  
  